* {
  margin: 0;
}
.App {
  background-color: #fafafa;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__postRight {
  margin-left: 20px;
}
.app__headerImage {
  object-fit: contain;
}
.app__signUp {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
